@charset "UTF-8";
/* CSS Document */
html, body {
  width: 100%;
  height: 100%;
}
.info-metromadrid {
	overflow: hidden;
	width: 100%;
	padding-top: 20px;
}
.btn-link {
  opacity: 1;
}
.btn-link:hover {
  text-decoration: none;
  opacity: .8;
}
/*********
OVERRIDES
*********/

.tooltip {
	z-index: 1040 !important;
}
.btn-secondary {
    color: #fff;
    background-color: #0950a0;
    border-color: #0950a0;
    padding: 0.375rem 2.5rem;
}

/*********
ANIMATIONS
*********/

#nube-1 {
	animation: nube-1 40s infinite;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	opacity: .6;
}
#nube-2 {
	animation: nube-2 60s infinite;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	opacity: .6;
}
@keyframes nube-1 {
  0% {
    transform: translateX(180px)
  }
  100% {
    transform: translateX(380px)
  }
}
@keyframes nube-2 {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(200px)
  }
}

#coche {
	animation: coche ease 12s infinite;
}
@keyframes coche {
  0% {
    transform: translate(-150px)
  }
  100% {
    transform: translate(750px)
  }
}

#chica_bici {
	animation: bici ease-in-out 12s infinite;
	animation-delay: 2s;
  transform: translate(-600px);
}
#rueda-1, #rueda-2 {
	transform-box: fill-box;
	animation: rueda linear 1s infinite;
	transform-origin: center center;
}
@keyframes bici {
  0% {
    transform: translate(-600px);
  }
	65% {
		transform: translate(0px);
		/*animation-play-state: paused;*/
	}
	
  100% {
    transform: translate(300px)
  }
}
@keyframes rueda {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#tren {
	animation: tren ease-in-out 12s infinite;
	animation-delay: 0;
}

@keyframes tren {
	0% {
    	transform: translate(-900px);
  	}
	30% {
		transform: translate(-300px)
	}
	75% {
		transform: translate(-300px)
	}
  	100% {
    	transform: translate(800px)
  	}
}
#pin1,
#pin2,
#pin3,
#pin4,
#pin5,
#pin6,
#pin7,
#pin8,
#pin9 {
  position: relative;
}



#pin1_marker,
#pin2_marker,
#pin3_marker,
#pin4_marker,
#pin5_marker,
#pin6_marker,
#pin7_marker,
#pin8_marker,
#pin9_marker {
  position: absolute;
  top: 0;
  left: 0;
	padding: 10px;
	transform-box: fill-box;
	transform-origin: center center;
	animation: ttip ease-in-out 4s infinite;
	cursor: pointer;
	/*transform: translateY(-42px)  scale(1);*//*rotateY(0)*/
  margin-top: 0;
}
#pin2_marker,
#pin4_marker,
#pin6_marker,
#pin8_marker {
  position: absolute;
  top: 0;
  left: 0;
	margin-top: 0;
}

#pin1_marker {
  transform: translateY(-90px)  scale(1);
  animation: ttip1 ease-in-out 4s infinite;
}
#pin2_marker {
  transform: translateY(-135px) translateX(3px) scale(1);
  animation: ttip2 ease-in-out 4s infinite;
  animation-delay: 2s;
}
#pin3_marker {
    transform: translateY(-130px) translateX(-25px) scale(1);
    animation: ttip3 ease-in-out 4s infinite;
}
#pin4_marker {
    transform: translateY(-140px) translateX(26px) rotateY(0) scale(1);
    animation: ttip4 ease-in-out 4s infinite;
    animation-delay: 2s;
}
#pin5_marker {
    transform: translateY(-190px) translateX(-14px) scale(1);
    animation: ttip5 ease-in-out 4s infinite;
}
#pin6_marker {
    transform: translateY(-178px) translateX(-10px) rotateY(0) scale(1);
    animation: ttip6 ease-in-out 4s infinite;
    animation-delay: 2s;
}
#pin7_marker {
    transform: translateY(-184px) translateX(-10px) rotateY(0) scale(1);
    animation: ttip7 ease-in-out 4s infinite;
}
#pin8_marker {
    transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1);
    animation: ttip8 ease-in-out 4s infinite;
    animation-delay: 2s;
}
#pin9_marker {
    transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1);
    animation: ttip9 ease-in-out 4s infinite;
}


@keyframes ttip1 {
  0% { transform: translateY(-90px)  scale(1); }
  50% { transform: translateY(-100px) scale(1); }
  100% { transform: translateY(-90px)  scale(1); }
}
@keyframes ttip2 {
  0% { transform: translateY(-135px) translateX(3px) scale(1); }
  50% { transform: translateY(-145px) translateX(3px) scale(1); }
  100% { transform: translateY(-135px) translateX(3px) scale(1); }
}
@keyframes ttip3 {
  0% { transform: translateY(-130px) translateX(-25px) scale(1); }
  50% { transform: translateY(-140px) translateX(-25px) scale(1); }
  100% { transform: translateY(-130px) translateX(-25px) scale(1); }
}
@keyframes ttip4 {
  0% { transform: translateY(-140px) translateX(26px) rotateY(0) scale(1); }
  50% { transform: translateY(-150px) translateX(26px) rotateY(0) scale(1); }
  100% { transform: translateY(-140px) translateX(26px) rotateY(0) scale(1); }
}
@keyframes ttip5 {
  0% { transform: translateY(-190px) translateX(-14px) scale(1); }
  50% { transform: translateY(-200px) translateX(-14px) scale(1); }
  100% { transform: translateY(-190px) translateX(-14px) scale(1); }
}
@keyframes ttip6 {
  0% { transform: translateY(-178px) translateX(-10px) rotateY(0) scale(1); }
  50% { transform: translateY(-188px) translateX(-10px) rotateY(0) scale(1); }
  100% { transform: translateY(-178px) translateX(-10px) rotateY(0) scale(1); }
}
@keyframes ttip7 {
  0% { transform: translateY(-184px) translateX(-10px) rotateY(0) scale(1); }
  50% { transform: translateY(-194px) translateX(-10px) rotateY(0) scale(1); }
  100% { transform: translateY(-184px) translateX(-10px) rotateY(0) scale(1); }
}
@keyframes ttip8 {
  0% { transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1); }
  50% { transform: translateY(-241px) translateX(-76px) rotateY(0) scale(1); }
  100% { transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1); }
}
@keyframes ttip9 {
  0% { transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1); }
  50% { transform: translateY(-241px) translateX(-76px) rotateY(0) scale(1); }
  100% { transform: translateY(-231px) translateX(-76px) rotateY(0) scale(1); }
}


@keyframes ttip {
	0% {
      top: 0;
    	/*transform: margin-top: 0; translateY(-42px) scale(1);*/
  	}

	50% {
      top: -10px;
    	 /*translateY(-52px) rotateY(360deg)scale(1);*//* rotateY(360deg)*/
  	}
	100% {
      top: 0;
    	/*transform: translateY(-42px) scale(1);/*rotateY(0)*/ 
  	}
}
/*********
SVG DEFS
*********/
 .cls-1 {
        fill: #bad0ea;
      }

      .cls-2 {
        fill: #cfe0f2;
      }

      .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-23, .cls-233, .cls-24, .cls-245, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-3, .cls-32, .cls-33, .cls-39, .cls-40, .cls-41, .cls-46, .cls-67, .cls-72, .cls-73, .cls-74, .cls-79, .cls-80, .cls-89, .cls-97 {
        fill: none;
      }

      .cls-4 {
        fill: #81c1be;
      }

      .cls-5 {
        fill: #a4c5d8;
      }

      .cls-6 {
        isolation: isolate;
      }

      .cls-7 {
        fill: #9dd5eb;
      }

      .cls-8 {
        fill: #5079b9;
      }

      .cls-71, .cls-9 {
        fill: #3d4d54;
      }

      .cls-10, .cls-225 {
        fill: #120c13;
      }

      .cls-11 {
        fill: url(#linear-gradient);
      }

      .cls-12 {
        fill: #606e7a;
      }

      .cls-13, .cls-234, .cls-243, .cls-70 {
        fill: #fff;
      }

      .cls-14 {
        fill: #e9002f;
      }

      .cls-15 {
        stroke: #90949b;
      }

      .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-225, .cls-226, .cls-231, .cls-24, .cls-245, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29 {
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29 {
        stroke-width: 0.3px;
      }

      .cls-16 {
        stroke: #914895;
      }

      .cls-17 {
        stroke: #215191;
      }

      .cls-18 {
        stroke: #a05e33;
      }

      .cls-19 {
        stroke: #ffcc49;
      }

      .cls-20 {
        stroke: #2fb3e0;
      }

      .cls-21 {
        stroke: #e73933;
      }

      .cls-22 {
        fill: #120d15;
      }

      .cls-23, .cls-46 {
        stroke: #fff;
      }

      .cls-107, .cls-204, .cls-227, .cls-23, .cls-230, .cls-232, .cls-233, .cls-234, .cls-32, .cls-33, .cls-39, .cls-40, .cls-41, .cls-46, .cls-67, .cls-71, .cls-72, .cls-73, .cls-74, .cls-79, .cls-80, .cls-89, .cls-97 {
        stroke-miterlimit: 10;
      }

      .cls-24 {
        stroke: #7dbf50;
      }

      .cls-25 {
        stroke: #f5863b;
      }

      .cls-26 {
        stroke: #d878ab;
      }

      .cls-27 {
        stroke: #120d15;
      }

      .cls-28 {
        stroke: #1c9850;
      }

      .cls-29 {
        stroke: #998f3d;
      }

      .cls-107, .cls-30 {
        fill: #dfe8ee;
      }

      .cls-31 {
        fill: #99b7d0;
      }

      .cls-32, .cls-41 {
        stroke: #99b7d0;
      }

      .cls-107, .cls-32, .cls-33, .cls-72, .cls-73, .cls-97 {
        stroke-width: 0.66px;
      }

      .cls-33, .cls-40 {
        stroke: #87a5c7;
      }

      .cls-34 {
        clip-path: url(#clip-path);
      }

      .cls-35 {
        clip-path: url(#clip-path-2);
      }

      .cls-36 {
        clip-path: url(#clip-path-3);
      }

      .cls-37 {
        clip-path: url(#clip-path-4);
      }

      .cls-38 {
        fill: #87a5c7;
      }

      .cls-39 {
        stroke: #d4d3d7;
      }

      .cls-39, .cls-40, .cls-41, .cls-46 {
        stroke-width: 0.61px;
      }

      .cls-42 {
        fill: #abc8d9;
      }

      .cls-43 {
        fill: #c4d5ec;
      }

      .cls-44 {
        fill: #a5bfcf;
      }

      .cls-45 {
        clip-path: url(#clip-path-5);
      }

      .cls-46 {
        opacity: 0.41;
      }

      .cls-47 {
        fill: #787e89;
      }

      .cls-48 {
        fill: #999ca1;
      }

      .cls-49 {
        fill: #bbc2d2;
      }

      .cls-50 {
        fill: #728290;
      }

      .cls-51 {
        fill: #95999e;
      }

      .cls-52 {
        fill: #92969c;
      }

      .cls-53 {
        fill: #8e9399;
      }

      .cls-54 {
        fill: #8a9097;
      }

      .cls-55 {
        fill: #878d94;
      }

      .cls-56 {
        fill: #838a92;
      }

      .cls-57 {
        fill: #7f878f;
      }

      .cls-58 {
        fill: #7c848d;
      }

      .cls-59 {
        fill: #78818a;
      }

      .cls-60 {
        fill: #747e87;
      }

      .cls-61 {
        fill: #707b85;
      }

      .cls-62 {
        fill: #6d7882;
      }

      .cls-63 {
        fill: #697580;
      }

      .cls-64 {
        fill: #65727d;
      }

      .cls-65 {
        fill: #626f7b;
      }

      .cls-66 {
        fill: #5e6c78;
      }

      .cls-67 {
        stroke: #5e6c78;
        stroke-width: 1.98px;
      }

      .cls-68 {
        fill: #e72430;
      }

      .cls-69 {
        fill: #0060a6;
      }

      .cls-70 {
        fill-rule: evenodd;
      }

      .cls-225, .cls-226, .cls-227, .cls-230, .cls-231, .cls-232, .cls-233, .cls-234, .cls-71, .cls-74 {
        stroke: #120c13;
      }

      .cls-71, .cls-89 {
        stroke-width: 0.33px;
      }

      .cls-72 {
        stroke: #73bf7b;
      }

      .cls-73 {
        stroke: #ec2534;
      }

      .cls-74 {
        stroke-width: 1.32px;
      }

      .cls-75 {
        fill: #3172a7;
      }

      .cls-76 {
        fill: #4e5155;
      }

      .cls-77 {
        fill: #9a9da2;
      }

      .cls-78 {
        fill: #dedfe0;
      }

      .cls-79 {
        stroke: #4e5155;
      }

      .cls-79, .cls-80 {
        stroke-width: 0.35px;
      }

      .cls-80 {
        stroke: #ed3f73;
      }

      .cls-81 {
        fill: #7f8284;
      }

      .cls-82 {
        fill: #b1d583;
      }

      .cls-83 {
        fill: #2d2b2f;
      }

      .cls-84 {
        fill: #4f3729;
      }

      .cls-85 {
        fill: #7897b5;
      }

      .cls-86 {
        fill: #597288;
      }

      .cls-87 {
        fill: #444551;
      }

      .cls-88 {
        fill: #6c7078;
      }

      .cls-204, .cls-89, .cls-97 {
        stroke: #231f20;
      }

      .cls-90 {
        clip-path: url(#clip-path-6);
      }

      .cls-91 {
        fill: url(#linear-gradient-2);
      }

      .cls-92 {
        clip-path: url(#clip-path-7);
      }

      .cls-93 {
        fill: url(#linear-gradient-3);
      }

      .cls-94 {
        clip-path: url(#clip-path-8);
      }

      .cls-95 {
        fill: url(#linear-gradient-4);
      }

      .cls-96 {
        fill: #c1d8e3;
      }

      .cls-98 {
        fill: #3057a3;
      }

      .cls-99 {
        fill: #e42732;
      }

      .cls-100 {
        fill: #1e62a7;
      }

      .cls-101 {
        clip-path: url(#clip-path-9);
      }

      .cls-102 {
        fill: url(#linear-gradient-5);
      }

      .cls-103 {
        clip-path: url(#clip-path-10);
      }

      .cls-104 {
        fill: url(#linear-gradient-6);
      }

      .cls-105 {
        clip-path: url(#clip-path-11);
      }

      .cls-106 {
        fill: url(#linear-gradient-7);
      }

      .cls-107 {
        stroke: #2e318f;
      }

      .cls-108 {
        clip-path: url(#clip-path-12);
      }

      .cls-109 {
        fill: #52b88a;
      }

      .cls-110 {
        fill: #ffebd2;
      }

      .cls-111 {
        fill: #ec6454;
      }

      .cls-112 {
        fill: #282b2d;
      }

      .cls-113 {
        fill: #dbf0f3;
      }

      .cls-114 {
        fill: #cb5830;
      }

      .cls-115 {
        fill: #8a9a9e;
      }

      .cls-116 {
        fill: #000e21;
      }

      .cls-117 {
        fill: #345767;
      }

      .cls-118 {
        fill: #82b0b3;
      }

      .cls-119 {
        fill: #f69982;
      }

      .cls-120 {
        fill: #1c92aa;
      }

      .cls-121 {
        fill: #e67460;
      }

      .cls-122 {
        fill: #ed373d;
      }

      .cls-123 {
        fill: #000010;
      }

      .cls-124 {
        fill: #d9c2af;
      }

      .cls-125 {
        fill: #004555;
      }

      .cls-126 {
        fill: #f6987f;
      }

      .cls-127 {
        fill: #0b3858;
      }

      .cls-128 {
        fill: #bae2e2;
      }

      .cls-129 {
        fill: #000001;
      }

      .cls-130 {
        fill: #8f4f26;
      }

      .cls-131 {
        fill: #bb483f;
      }

      .cls-132 {
        fill: #a83833;
      }

      .cls-133 {
        fill: #9fd9da;
      }

      .cls-134 {
        fill: #727e7e;
      }

      .cls-135 {
        fill: #e3bca3;
      }

      .cls-136 {
        fill: #e18a40;
      }

      .cls-137 {
        fill: #544a5f;
      }

      .cls-138 {
        fill: #cf826a;
      }

      .cls-139 {
        fill: #eea06c;
      }

      .cls-140 {
        fill: #c07360;
      }

      .cls-141 {
        fill: #cd7837;
      }

      .cls-142 {
        fill: #f1bf9b;
      }

      .cls-143 {
        opacity: 0.29;
      }

      .cls-144 {
        fill: #4e6a67;
      }

      .cls-145 {
        fill: #ebb083;
      }

      .cls-146 {
        fill: #102828;
      }

      .cls-147 {
        fill: #d48246;
      }

      .cls-148 {
        fill: #e99758;
      }

      .cls-149 {
        fill: #c07039;
      }

      .cls-150 {
        fill: #bd6d36;
      }

      .cls-151 {
        fill: #ec273d;
      }

      .cls-152 {
        fill: #1e3737;
      }

      .cls-153 {
        fill: #f0ac7a;
      }

      .cls-154 {
        fill: #fab9a4;
      }

      .cls-155 {
        fill: #201722;
      }

      .cls-156 {
        fill: #000005;
      }

      .cls-157 {
        fill: #3e6977;
      }

      .cls-158 {
        fill: #2e5b66;
      }

      .cls-159 {
        fill: #bfc1c1;
      }

      .cls-160 {
        fill: #9da0a2;
      }

      .cls-161 {
        fill: #ce887a;
      }

      .cls-162 {
        fill: #002238;
      }

      .cls-163 {
        fill: #843f20;
      }

      .cls-164 {
        clip-path: url(#clip-path-13);
      }

      .cls-165 {
        fill: #2c5761;
      }

      .cls-166 {
        fill: #16191c;
      }

      .cls-167 {
        fill: #883b3d;
      }

      .cls-168 {
        fill: #642623;
      }

      .cls-169 {
        fill: #cdebf2;
      }

      .cls-170 {
        opacity: 0.5;
      }

      .cls-171 {
        fill: #440711;
      }

      .cls-172 {
        fill: #17000f;
      }

      .cls-173 {
        fill: #424a4e;
      }

      .cls-174 {
        fill: #000002;
      }

      .cls-175 {
        fill: #f1f6f6;
      }

      .cls-176 {
        fill: #f48869;
      }

      .cls-177 {
        fill: #fbb464;
      }

      .cls-178 {
        fill: #f37e60;
      }

      .cls-179 {
        fill: #6a9692;
      }

      .cls-180 {
        fill: #eef8fb;
      }

      .cls-181 {
        fill: #001a27;
      }

      .cls-182 {
        fill: #e76d5b;
      }

      .cls-183 {
        fill: #283b3c;
      }

      .cls-184 {
        fill: #415d5c;
      }

      .cls-185 {
        fill: #14181a;
      }

      .cls-186 {
        fill: #061e20;
      }

      .cls-187 {
        fill: #e5e4e8;
      }

      .cls-188 {
        clip-path: url(#clip-path-14);
      }

      .cls-189 {
        clip-path: url(#clip-path-15);
      }

      .cls-190 {
        fill: #b66930;
      }

      .cls-191 {
        fill: #985729;
      }

      .cls-192 {
        fill: #223436;
      }

      .cls-193 {
        fill: #8a8791;
      }

      .cls-194 {
        fill: #ef9f63;
      }

      .cls-195 {
        fill: #1c77b6;
      }

      .cls-196 {
        fill: #f6997f;
      }

      .cls-197 {
        fill: #2e318f;
      }

      .cls-198 {
        fill: #26225f;
      }

      .cls-199 {
        fill: #c39a70;
      }

      .cls-200 {
        fill: #3c2416;
      }

      .cls-201 {
        fill: #f06049;
      }

      .cls-202 {
        fill: #ee433c;
      }

      .cls-203 {
        mix-blend-mode: multiply;
      }

      .cls-204 {
        fill: #58595b;
        stroke-width: 0.2px;
      }

      .cls-205 {
        fill: #f1f2f2;
      }

      .cls-206 {
        fill: #bcbec0;
      }

      .cls-207 {
        fill: #414042;
      }

      .cls-208 {
        fill: #f4987f;
      }

      .cls-209 {
        fill: #f7a183;
      }

      .cls-210 {
        fill: #f39178;
      }

      .cls-211 {
        fill: #e5745f;
      }

      .cls-212 {
        fill: #15000e;
      }

      .cls-213 {
        fill: #1f77b6;
      }

      .cls-214 {
        fill: #f8b08c;
      }

      .cls-215 {
        fill: #642522;
      }

      .cls-216 {
        fill: #73c9d5;
      }

      .cls-217 {
        fill: #cfebf0;
      }

      .cls-218 {
        fill: #9f592b;
      }

      .cls-219 {
        fill: #cf834a;
      }

      .cls-220 {
        fill: #5c9c9a;
      }

      .cls-221 {
        fill: #172a2b;
      }

      .cls-222 {
        fill: #9d3430;
      }

      .cls-223 {
        fill: #355151;
      }

      .cls-224 {
        fill: #eca16a;
      }

      .cls-225, .cls-226, .cls-227, .cls-230, .cls-231, .cls-232, .cls-233, .cls-234 {
        stroke-width: 0.36px;
      }

      .cls-226 {
        fill: #7a7d89;
      }

      .cls-227 {
        fill: #caced0;
      }

      .cls-228 {
        fill: #4e606b;
      }

      .cls-229, .cls-230 {
        fill: #216f9e;
      }

      .cls-231 {
        fill: #2a2f32;
      }

      .cls-232 {
        fill: #519db1;
      }

      .cls-235 {
        clip-path: url(#clip-path-16);
      }

      .cls-236 {
        fill: #6e3021;
      }

      .cls-237 {
        fill: #ed283e;
      }

      .cls-238 {
        font-size: 7.94px;
      }

      .cls-238, .cls-243, .cls-244 {
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
      }

      .cls-239 {
        fill: #ec273d;
      }

      .cls-240, .cls-244 {
        fill: #0950a0;
      }

      .cls-241 {
        fill: #ec273d;
      }

      .cls-242 {
        fill: #114b9a;
      }

      .cls-243 {
        font-size: 6.28px;
      }

      .cls-244 {
        font-size: 12.82px;
        letter-spacing: -0.02em;
      }

      .cls-245 {
        stroke: #ed283e;
        stroke-width: 0.99px;
        stroke-dasharray: 0.05 3.31;
      }